@model MatterCentral.Models.AuthorizationViewModel


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
        </div>
    </div>

<table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
    <thead>
        <tr>
            <th data-toggle="true">Number</th>
            <th data-toggle="true">Shipper</th>
            <th data-toggle="true">Receiver</th>
            <th data-toggle="true">Receiver Contact</th>
            <th data-toggle="true">County</th>
            <th data-toggle="true">Supplier</th>
            <th data-toggle="true">Receive Location</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <td colspan="6">
                <ul class="pagination pull-right"></ul>
            </td>
        </tr>
    </tfoot>
</table>